html {
    height: 100%;
}

body {
    height: 100%;
    width: 100%;
    background-color: #e4e4e4;
    justify-content: center;
    overflow-x: hidden;
}

#app,.row{
    height: 100%;
}
.note-container{
     border-style: ridge;
      height: 100%;
}
.noteContainer{
    border-style: groove;
}