html {
    height: 100%;
}

body {
    height: 100%;
    width: 100%;
    background-color: #e4e4e4;
    justify-content: center;
    overflow-x: hidden;
}

#app{
    height: 98%;
}
.note-container{
     height: 100%;
}